body{
    background-color: rgb(254, 254, 254);
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-size: 17px;
    padding-left: 7px;
    font-family: 'parivar' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e901";
  }
  .icon-client:before {
    content: "\e900";
  }
  .icon-signin:before {
    content: "\e902";
  }
  


*{
    font-family: 'Vazir';
    font-size:12px;
}
h1{
    text-align:center;
}
#menu {
    margin-top:5px; 
    padding: 0px 20px; 
    position: absolute;
    width: 100%;
    color:black;
    z-index: 200;
}
.menu.secondary .item{
    color: rgb(88, 88, 88) !important;
    
}
.menu.secondary .item:hover{
    background-color: transparent !important;
    color: black !important;
    
}
.menu-icon{
    fill: red !important;
}
#logo{
    float: left;
    direction: rtl;
    position: absolute;
    top:32%;
    right: 15%;
    
}
#gradient-purple{
    position: absolute;
    top:0%;
    z-index: 0; 
    filter: blur(100px);
    animation: 8s fadeInPurple infinite;}
#gradient-blue{
    position: absolute;
    top:0%;
    z-index: 0; 
    filter: blur(140px);
    animation: 5s fadeInBlue infinite;
}
@keyframes fadeInPurple {
    0% {
        opacity: 0;
        left: 10%;
    }
    50% {
        opacity: 0.4;
        left: 0%;
	}
	100% {
        opacity: 0.1;
        left: 10%;
	}

}
@keyframes fadeInBlue {
    0% {
        opacity: 0;
        right: 5%;
	}

	50% {
        opacity: 0.2;
        right: 0%;
	}

    100% {
        opacity: 0;
        right: 30%;
	}
}
#particles{
    position: absolute;
    top:30%;
    opacity: 0.4;
    left: 0%;
    z-index: -1; 
    filter: blur(3px);
}
#logo-back{
    position: absolute;
    bottom:0%;
    right: 0%;
    filter: blur(2px);
    z-index: -3; 
}

#canvas{
    position: absolute;
 right:60%;
 bottom:35%;
 opacity:1;

  }
#line-bottom{
    position: absolute;
    height: 13px;
    bottom:0%;
    left: 20%;
    z-index: 50; 
}

#slogan{
    margin-top:60px !important;
    font-size: 20px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-left: .15em solid rgb(255, 217, 0);
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 0; /* Gives that scrolling effect as the typing happens */
    animation: 
    typing 8s steps(30, end) infinite,
    blink-caret .5s step-end infinite;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
    50%, 100% {width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(255, 217, 0) }
}
.mask{
    -webkit-mask-image: url(http://studiovista.ir/static/folio/parivar/img/logoMask.svg);
    -webkit-mask-mode: alpha;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size:  auto 100%;
    -webkit-mask-position-x: 210px;
    
    mask-image: url(http://studiovista.ir/static/folio/parivar/img/logoMask.svg);
    mask-mode: alpha;
    mask-repeat: no-repeat;
    mask-size:  auto 100%;
    mask-position: 210px;
}
.carousel{
    width:100%;
    height:100vh;
}
#slider{
    overflow: hidden;
    float:left;
    top:0px;
    left:bottom;
}
#slider img{
    width:100%;
    height:100vh;
    
}
.slide{
    position: absolute;
}
.slide.activate{
    margin: 0 !important;
    padding: 0 !important;
}
.slide-copy{
    position: absolute;
    bottom: 0;
    left:0;
    background: transparent;
}
#prev,#next{
    float:left;
    cursor:pointer;
    position: absolute;
    z-index:100;
    margin-left: 30px;
    bottom:6%;
    opacity: 0.1;
    color: black;
}
.icon-angle-left, .icon-angle-right{
font-size: 12px;
}

#prev{
    left:3%;
}
#next{
    left:6%; 
}
#prev:hover,#next:hover{
    opacity: 1;
}


.menu-icon{
    height: 17px;
    padding-left: 5px;
}