@font-face {
    font-family: 'parivar';
    src:  url('icomoon/parivar.eot');
    src:  url('icomoon/parivar.eot') format('embedded-opentype'),
      url('icomoon/parivar.ttf') format('truetype'),
      url('icomoon/parivar.woff') format('woff'),
      url('icomoon/parivar.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'parivar' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


.icon-angle-left:before {
  content: "\e903";
}
.icon-angle-right:before {
  content: "\e904";
}
.icon-menu:before {
  content: "\e901";
}
.icon-client:before {
  content: "\e900";
}
.icon-signin:before {
  content: "\e902";
}